*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(images/back.avif);
    background-size: cover;
}

#container {
    width: 660px;
    border: 1px solid #ccc;
    margin: 200px auto 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    overflow: hidden;
    background-color: #edaaab;
}

h1{
    font-size: 1.6rem;
    background-color: #ef8183;
    padding: 10px 25px;
    color: white;
}

ul{
    list-style: none;
}

#inp,#date-inp{
    display:block ;
    border: 1px solid #ccc;
    font-size: 1.6rem;
    padding: 8px 3px;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: #ebe6e7;
    overflow: hidden;
}

#inp::placeholder{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.9;
} 

.field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.field input[type="text"],
.field input[type="date"] {
    flex: 1 1 auto;
    padding: 10px;
    font-size: 16px;
    border: none;
}

.field input[type="text"]{
    margin-left: 10px;
}

.field input[type="date"]{
    margin-right: 10px;
}

#inp:focus{
    outline: none;
}

#arrow,#right{
    float: right !important;  
}

.date{
    float: right;
}

.Completed{
    text-decoration: line-through;
    color:gray;
}

li{
    font-size: 1.2rem;
    padding: 12px 10px;
    margin: 10px;
    box-shadow: 1px 1px 2px #ccc;
    border-radius: 8px;
}

i{
    margin-right: 10px;
}

li:hover{
    cursor: pointer;
}

li:nth-of-type(2n+1){
    background-color: #f28f91;
}

li:nth-of-type(2n+2){
    background-color: #f1cfcf;
}

